body{
  background: linear-gradient(85deg, #17255A, #CE6550);
}

.display{
  height: 41rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotearea{
  background: linear-gradient(65deg, #F5E2C8, #FCF6EE);
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "quote" "quote" "quote"
  "quote" "quote" "quote"
  "author""author""author"
  "brand" "brand" "space";
  overflow:hidden;
  padding: 25px 25px 25px 25px;
  margin: 25px 250px 25px 250px;
  mix-blend-mode: screen;
}

.quotes{
  grid-area: 1 /1 / span 2 / span 3;
  text-align: center;
  font-size: 25px;
  margin: 0 55px 0 55px;
}

.authors{
  grid-area: 3 / 1 /span 1 / span 3;
  text-align: right;
  font-size: 20px;
  padding-right: 35px;
}

.brands{
  grid-area: 4 / 1 / span 1 / span 2.5;
  font-size: 40px;
  padding-left: 20px;
}

#fb{
  position: relative;
  left: 20px;
}

#new{
  font-size: 24px;
  outline: none;
  border: none;
  border-radius: 5%;
  height: 85px;
  width: 125px;
}

#s{
  padding-right: 5px;
  grid-area: 4/3;
  position: relative;
  mix-blend-mode: exclusion;
}

#twt:hover{
  transform: scale(1.5);
}

#fb:hover{
  transform: scale(1.5);
}

#new:hover{
  transform: scale(1.05);
  opacity: 0.9;
}
